@import '../../scss/vars.scss';

.projects {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 80px;

    &__title {
        margin-bottom: 32px;
        font-size: 48px;
        line-height: 60px;
        color: $primary;
    }


    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 44px;
        row-gap: 44px;
        padding: 34px 0px 68px;
        overflow-y: hidden;
        transition: all 0.5s;

        &-cover {
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: 40px;
            background-color: white;
            opacity: 0.8;
            text-align: center;
            color: $primary;
            font-weight: bold;
            font-size: 18px;
        }
    }

    &__show-more {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &-checkbox {
            display: none;

            &:checked ~ * .projects__show-more {
                flex-direction: column-reverse;
            }

            &:checked ~ div .projects__show-more svg {
                transform: rotate(180deg);
            }
        }

        & svg {
            font-size: 36px;
            transition: transform 0.5s;
        }
    }
    
}

@media (max-width: 440px) {
    .projects {
        padding: 80px 0 0;

        &__container {
            width: 100%;
            column-gap: 0px;
        }
    }
}
