@import '../../scss/vars.scss';

.introduction {
    display: flex;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 70px;

    &__cartoon-image {
        width: 212px;
        height: 240px;
        border-radius: 50%;
    }

    &__information {
        width: 510px;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 48px;
        color: $darkPrimary;

        &-icon {
            color: rgb(255, 195, 127)
        }
    }

    &__text {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: bold;
        line-height: 32.4px;
        color: $darkPrimary;
    }

    &__paragraph_color_light {
        color: $primary;
    }

    &__socials {
        display: flex;
        column-gap: 8px;
    }

    &__link-icon {
        width: 40px;
        height: 40px;

        &_type {

            &_vk {
                color: #0077ff;
            }

            &_telegram {
                color: #0088cc;
            }

            &_linkedin {
                color: #0a66c2;;
            }
        }
    }

    &__interactive {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
}