@import '../../scss/vars.scss';

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 820px;
    padding: 20px 5px;
    background-color: $background;
    z-index: 5;

    &__logo {
        color: $primary;
    }

    &__nav {
        display: flex;
        column-gap: 24px;

        &-item {
            display: inline-block;
            color: $primary;
            font-size: 18;
            transition: all 0.3s;
            cursor: pointer;
            text-decoration: none;
        }

        &-item:hover {
            text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        }
    }
}

@media (max-width: 840px) {
    .header {
        width: 100%;
    }
}
