@import '../../../scss/vars.scss';

.projects__modal {
    column-gap: 25px;
    
    &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;
        width: 100%;
        margin-top: 16px;
    }

    &-title {
        font-size: 36px;
        color: $primary;
    }

    &-description {
        max-height: 100px;
        padding-right: 10px;
        overflow: auto;
        white-space: break-spaces;

        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: $lightPrimary;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $primary;
        }
    }

    &-link:first-of-type {
        margin-right: 25px;
    }

    
}

@media (max-width: 440px) {
    .projects__modal {
        &-title {
            font-size: 24px;
        }

        &-technologies {
            text-align: center;
        }
    }
}

@media (max-width: 800px) and (max-height: 599px) {
    .projects__modal {

        &-title {
            font-size: 24px;
        }

        &-details {
            margin-top: 8px;
            font-size: 14px;
            row-gap: 12px;
        }

        &-technologies {
            text-align: center;
            font-size: 12px;
        }

        &-description {
            max-height: 60px;
        }
        &-link {
            font-size: 14px;
        }
    }
}

@media (max-width: 380px) and (max-height: 667px) {
    .projects__modal {

        &-details {
            margin-top: 8px;
            font-size: 14px;
        }

        &-description {
            max-height: 100px;
        }
    }
}

